$base-color: #3e8f95;
$picnic-primary: $base-color;
$picnic-warning: #00828b;

$footer-height: 1vh;

@import 'picnic/src/picnic';
@import 'picnic/src/plugins/nav/plugin';
@import 'picnic/src/plugins/tabs/plugin';
@import 'picnic/src/plugins/grid/plugin';
@import 'picnic/src/plugins/radio/plugin';
@import 'picnic/src/plugins/input/plugin';
@import 'picnic/src/plugins/button/plugin';

.nav-margin {
    height: $picnic-nav-height;
}

.full-page {
    width: 100vw;
    height: calc(100vh - #{$picnic-nav-height} -  2 * #{$footer-height});
}

.main {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: $base-color;
}

.main h1 {
    font-size: 4em;
}

.main h2 {
    font-size: 2em;
}

.main > .button {
    font-size: 1.5em;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-family: monospace;
    word-break: break-all;
}

.large-button {
    font-size: 1.5em;
    text-align: center;
    align-self: flex-end;
}

.height-80 {
    height: 90%;
}

footer {
    font-size: $footer-height;
    text-align: center;
}
